doctype 5
html(lang='en')
  head
    title= sitename
      block title
      | - The easy DCPU-16 sharer
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", href="/img/favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
    link(href="/bootstrap/css/bootstrap.css", rel="stylesheet")
    link(href="/bootstrap/css/bootstrap-responsive.css", rel="stylesheet")
    link(href="/css/codemirror.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
  body
    div.navbar
      div.navbar-inner
        div.container-fluid
          a.brand(href="/")
            img(src=logo)
          div.nav-collapse.collapse
            ul.nav
              pages = {'/new':'New Program', '/top':'Top Programs', '/random':'Random', '/io':'I/O Spec'}
              each v, k in pages
                - if('/' + current == k)
                  li.active: a(href="#{k}") #{v}
                - else
                  li: a(href="#{k}") #{v}
    div.container-fluid
      div.row-fluid
        div.span9
          div.alert.alert-error
            strong Warning!
            p Notch is making big changes to the DCPU right now. I am working hard to keep my emulator up-to-date with his, but I am waiting until he has finished it before put it all in.
            p
              span The new DCPU spec is available 
                a(href="http://dcpu.com/highnerd/dcpu16_1_3.txt") here
              span , and the display spec is available 
                a(href="http://dcpu.com/highnerd/lem1802.txt") here.
          block content
        div.span3
          block sidebar
            ul
              each link in links
                li: a(href=link.url)= link.title
            div.accordion-group
              div.accordion-heading
                a.accordion-toggle(data-toggle="collapse", data-target="#reference") DCPU16 Quick Reference
                div#reference.collapse.accordion-body.inset
                  div.accordion-inner
                    h4 Basic Opcodes
                    ul.reference
                      li
                        code SET a, b
                        span &nbsp;sets a to b
                      li
                        code ADD a, b
                        span &nbsp;sets a to a+b, sets O to 0x0001 if there's an overflow, 0x0 otherwise
                      li
                        code SUB a, b
                        span &nbsp;sets a to a-b, sets O to 0xffff if there's an underflow, 0x0 otherwise
                      li
                        code MUL a, b
                        span &nbsp;sets a to a*b, sets O to ((a*b)>>16)&0xffff
                      li
                        code DIV a, b
                        span &nbsp;sets a to a/b, sets O to ((a<<16)/b)&0xffff. if b==0, sets a and O to 0 instead.
                      li
                        code MOD a, b
                        span &nbsp;sets a to a%b. if b==0, sets a to 0 instead.
                      li
                        code SHL a, b
                        span &nbsp;sets a to a<<b, sets O to ((a<<16)>>b)&0xffff
                      li
                        code SHR a, b
                        span &nbsp;sets a to a>>b, sets O to ((a<<16)>>b)&0xffff
                      li
                        code AND a, b
                        span &nbsp;sets a to a&b
                      li
                        code BOR a, b
                        span &nbsp;sets a to a|b
                      li
                        code XOR a, b
                        span &nbsp;sets a to a^b
                      li
                        code IFE a, b
                        span &nbsp;performs next instruction only if a==b
                      li
                        code IFN a, b
                        span &nbsp;performs next instruction only if a!=b
                      li
                        code IFG a, b
                        span &nbsp;performs next instruction only if a>b
                      li
                        code IFB a, b
                        span &nbsp;performs next instruction only if (a&b)!=0
                    h4 Non-basic Opcodes
                    ul.reference
                      li
                        code JSR a
                        span &nbsp;pushes the address of the next instruction to the stack, then sets PC to a
                      li
                        code BRK
                        span &nbsp;stops execution (non-standard)
                    h4 Registers
                    ul.reference
                      li
                        code A
                        span , 
                        code B
                        span , 
                        code C
                        span , 
                        code X
                        span , 
                        code Y
                        span , 
                        code Z
                        span , 
                        code I
                        span , 
                        code J
                    h4 Other Values
                    ul.reference
                      li: code POP / [SP++]
                      li: code PEEK / [SP]
                      li: code PUSH / [--SP]
                      li 
                        code SP
                        span , 
                        code PC
                        span , 
                        code O
            - if(typeof recent !== 'undefined')
                div.accordion-group
                  div.accordion-heading
                    a.accordion-toggle(data-toggle="collapse", data-target="#recent") Recent Programs
                    div#recent.collapse.in.accordion-body.inset
                      div.accordion-inner
                        ul.reference
                        - for(var i = 0; i < recent.length; i++)
                          li
                            a(href="/#{recent[i].id}")
                              div
                                strong #{recent[i].title} 
                                small #{recent[i].author}
                                br
                                i= recent.moment(recent[i].date).fromNow()
                      
    hr
    div.container-fluid
      block footer
        p &copy; Matt Bell (mappum) 2012 - 
          a(href="http://github.com/mappum/DCPU-16") DCPU16 code
          span &nbsp;-&nbsp;
          a(href="https://github.com/mappum/0x10code") Site code
          span &nbsp-&nbsp;
          a(href="https://github.com/mappum/0x10code/issues") Report bugs
        form(action="https://www.paypal.com/cgi-bin/webscr", method="post")
          input(type="hidden", name="cmd", value="_donations")
          input(type="hidden", name="business", value="mappum@gmail.com")
          input(type="hidden", name="lc", value="US")
          input(type="hidden", name="item_name", value="0x10code")
          input(type="hidden", name="no_note", value="0")
          input(type="hidden", name="currency_code", value="USD")
          input(type="hidden", name="bn", value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest")
          input(type="submit", class="btn btn-info", value="Donate", border="0", name="submit")
          
    block scripts
      script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
      script(src="/bootstrap/js/bootstrap-alert.js")
      script(src="/bootstrap/js/bootstrap-modal.js")
      script(src="/bootstrap/js/bootstrap-dropdown.js")
      script(src="/bootstrap/js/bootstrap-tooltip.js")
      script(src="/bootstrap/js/bootstrap-popover.js")
      script(src="/bootstrap/js/bootstrap-button.js")
      script(src="/bootstrap/js/bootstrap-collapse.js")
      script(src="/js/analytics.js")
